.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  margin: 10px 0;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

button {
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.customeDrawer .css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  justify-content: space-between !important;
}

.apporval .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.userTable {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal;
  color: #838797 !important;
}
